# Bundler state
/.bundle
/vendor/bundle/
/vendor/ruby/

# Rails specific artifacts
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Scm revert files
**.orig

# Mac finder artifacts
.DS_Store

# RubyMine project files
.idea

# Vim artifacts
**.swp

# Environment files that may contain sensitive data
.env
.byebug_history
*.dump
node_modules
yarn-error.log

# Do not commit vcr cassetes, it contains some tokens
/fixtures/vcr_cassettes/*

# Directory for personal files
personal

# Ignore Rails credentials key files
/config/master.key
/config/credentials/development.key
/config/credentials/test.key
/config/credentials/production.key
