<h1 class="main-content__page-title" id="page-title">
  Welcome to Uhura!
</h1>

<p>
  Uhura's <a href="https://github.com/dailydrip/uhura">git repository</a>
</p>

<p>
  Uhura's <a href="/admin">admin application</a>
</p>